# A gitignore file specifies intentionally untracked files that Git should ignore. Files already tracked by Git are not affected;
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.env
